  <!DOCTYPE html>
  {% load static %}
  <html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Главная страница — ДДС</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <h1>Записи ДДС</h1>

    <!-- Фильтры -->
    <div>
      <label>Дата с: <input type="date" id="date_from"></label>
      <label>по: <input type="date" id="date_to"></label>
      <label>Статус: <select id="statusFilter"><option value="">Все</option></select></label>
      <label>Тип: <select id="typeFilter"><option value="">Все</option></select></label>
      <label>Категория: <select id="categoryFilter"><option value="">Все</option></select></label>
      <label>Подкатегория: <select id="subcategoryFilter"><option value="">Все</option></select></label>
      <button onclick="loadRecords()">Фильтровать</button>
      <a href="{% url 'record-form'%}"><button>Создать</button></a>
      <button onclick="window.location.href='references.html'">Справочники</button>
    </div>

    <br>

    <!-- Таблица записей -->
    <table>
      <thead>
        <tr>
          <th>Дата</th><th>Статус</th><th>Тип</th><th>Категория</th><th>Подкатегория</th><th>Сумма</th><th>Комментарий</th><th>Действия</th>
        </tr>
      </thead>
      <tbody id="recordsTableBody"></tbody>
    </table>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
  </html>